/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1460px) {
.title-big {
    font-size: 33px;
    line-height: 38px;
}
.descr-big {
    font-size: 20px;
    line-height: 33px;
    }
    .wrapper_page .header .phone-main {
        font-size: 16px;
    }

    .item-sertificat__image {
    height: 410px;
}
}
@media only screen and (max-width : 1380px) {
.partners-wrap .slick-prev {
    left: -55px;
}
.partners-wrap .slick-next {
    right: -55px;
}
}
@media only screen and (max-width : 1300px) {
.title-big {
    font-size: 30px;
}
.header__location {
	font-size: 12px;
}
.descr-big {
    font-size: 18px;
    line-height: 30px;
}
.partners-wrap .slick-prev {
    left: 0;
}
.partners-wrap .slick-next {
    right: 0;
}
.wrapper_page .header__right .btn-social {
    margin-left: 5px;
}
.wrapper_page .right_head {
    padding-left: 0px;
}

.item-sertificat__image {
    height: 361px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.header .container_big {
	max-width: 100%;
}
.menu li {
    margin-left: 35px;
    }
    .logo img {
    width: 130px;
}
.logo-descr {
    margin-left: 14px;
    font-size: 12px;
    max-width: 153px;
    }
    .title-big {
    font-size: 24px;
}
.descr-big {
    font-size: 15px;
    line-height: 25px;
}
.billbord__text {
    font-size: 15px;
    line-height: 22px;
}
.btn-main {
    font-size: 14px;
    }
    .slider-billbord__title {
    font-size: 21px;
    line-height: 36px;
    padding-bottom: 4px;
}
.slider-billbord__item {
	padding-bottom: 40px;
}
.billbord__buttons {
	width: 500px;
}
.billbord__buttons .btn-video {
	top: 0;
}
.billbord__image img {
	left: -70px;
}
.title-section {
    font-size: 26px;
    line-height: 37px;
    }
    .item-advantage {
    	padding: 20px;
    	padding-bottom: 10px;
    }
    .item-advantage__title {
    font-size: 14px;
    line-height: 24px;
}
.advantages__image img {
	max-width: 600px;
}
.calculation .title-section strong {
    font-size: 31px;
    }
    .table-price table {
    	font-size: 15px;
    }
    .partners-wrap .slick-prev {
    left: -33px;
}
.partners-wrap .slick-next {
    right: -33px;
}
.tabs-portfolio li a {
    font-size: 12px;
    min-width: 123px;
}
.slider-portfolio p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 23px;
    }
    .item-team {
    max-width: 280px;
}
.item-team__image {
    height: 320px;
    }
    .item-team__content {
    padding-top: 15px;
    padding-left: 19px;
}
.item-article__name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    }
    .item-article_big {
    	padding-left: 325px;
    }
    .instagram__image img {
    	max-width: 500px;
    }
    .instagram {
    	padding-bottom: 40px;
    }
    .footer {
    	font-size: 13px;
    }
    .wrapper_page .item-billbord {
    font-size: 13px;
}
.wrapper_page .header__right .link-block {
    margin-right: 22px;
}
.wrapper_page .header .phone-main {
    font-size: 13px;
}

/*new*/
.tabs-about li a {
    min-width: 140px;
}
.about__image img {
    max-width: 447px;
}
.wrapper_page {
    padding-top: 161px;
}
.portfolio-page .tabs-portfolio li a {
    font-size: 10px;
    min-width: 82px;
}
.ask-form {
    padding-left: 70px;
    padding-right: 70px;
}

}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.menu li {
    margin-left: 15px;
}
.menu li a {
    font-size: 13px;
    }
    .btn-eye {
    	margin-left: 15px;
    }
    .hidden_tablet {
    	display: none;
    }
    .item-billbord {
    	font-size: 13px;
    	line-height: 22px;
    	margin-bottom: 30px;
    }
    .billbord__image {
    	display: none;
    }
    .billbord__buttons {
    	width: 100%;
    	padding-top: 25px;
    }
    .slider-billbord {
    	width: 100%;
    }
    .slider-billbord__item {
    padding-bottom: 0;
}
.billbord .title-big {
	padding-top: 0;
}
.billbord {
	min-height: auto;
	padding-bottom: 60px;
    overflow: visible;
}
.advantages .title-section {
	margin-bottom: 25px;
}
.calculation .title-section {
    padding-top: 30px;
    padding-bottom: 0;
    }
    .calculation_left::after {
    	display: none;
    }
    .calculation_left {
    	padding-bottom: 0;
    }
    .calculation {
    	padding-bottom: 40px;
    }
    .item-calculation {
    	margin-top: 30px;
    	max-width: 100%;
    }
    .tabs li a {
    	font-size: 13px;
    	padding-left: 57px;
    	width: 100%;
    }
    .tabs__icon {
    width: 55px;
}
.tab-container ul li {
	margin-bottom: 15px;
}
.bottom-tab {
	margin-top: 25px;
}
.tab-container {
	padding-bottom: 10px;
}
.item-partner {
    height: 160px;
    }
    .tabs-portfolio {
    	flex-wrap: wrap;
    }
    .tabs-portfolio li {
    	width: 33%;
    	margin-bottom: 5px;
    }
    .slider-portfolio__image {
    	margin-bottom: 25px;
    }
    .slider-portfolio .slick-prev {
    	left: -20px;
    }
    .slider-portfolio .slick-next {
    	right: -20px;
    }
    .team {
    	padding-bottom: 40px;
    }
    .item-article {
    	padding-right: 40px;
    	padding-top: 40px;
    	padding-bottom: 30px;
    	width: 100%;
    	min-height: auto;
    }
    .item-article__name {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}
.item-article_big {
	padding-top: 70px;
	min-height: 300px;
}
.instagram__image {
	display: none;
}
.row_insta {
	margin-top: 25px;
}
.col_copyright {
	text-align: right;
}
.footer__bottom .row  > div {
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu-dropdown .pl_40 {
    padding-left: 15px;
}
.menu-dropdown__name:first-of-type,
.menu-dropdown__name {
    padding-top: 20px;
}
.menu-dropdown {
    padding-top: 5px;
}
.menu-dropdown {
    margin-top: -9px;
}
.wrapper_page .header .phone-main {
    font-size: 15px;
}
.wrapper_page .logo-wrap {
    display: inline-flex;
}
.wrapper_page .logo-descr {
    margin-left: 15px;
}
.wrapper_page {
    padding-top: 144px;
}
.articles_page .item-article_big + .item-article_big {
    left: 0;
}
.item-article__name {
    min-height: auto;
}

/*new*/
.tabs-about li a {
    min-width: 110px;
    font-size: 14px;
    padding: 0 10px;
}
.about__image {
    margin-bottom: 30px;
}
.row_team > div {
    margin-bottom: 30px;
}
.portfolio-page .tabs-portfolio li a {
    font-size: 12px;
}
.wrapper_page {
    padding-top: 118px;
}
.slider-portfolio-image {
    margin: 0 auto;
}
.slider-portfolio-image .slick-prev {
    left: -25px;
}
.item-portfolio__title:first-of-type {
    padding-top: 15px;
}
.item-portfolio__right br {
    display: none;
}
.item-sertificat__image {
    height: 400px;
    }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.header__top {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	overflow: auto;
	padding-bottom: 70px;
}
.header__wrap {
	display: block;
}
.menu {
	display: block;
}
.menu li {
	margin: 0;
}
.menu li a {
	font-size: 14px;
	display: block;
	padding: 10px 15px;
	border-color: #1c4b6e;
}
.menu li:last-child a {
	border: none;
}
.menu ul {
	padding: 0 10px;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background-color: transparent;
	visibility: visible;
	opacity: 1;
	transition: none;
	display: none;
}
.menu ul li a {
	background-color: transparent !important;
	    border-color: #1c4b6e !important;
}
.header__top .btn-eye {
	display: none;
}
.header {
	position: fixed;
	top: 0;
	z-index: 1000;
    padding-top: 0;
	background-color: #fff;
}
.header__bottom {
	padding: 10px 0;
}
.billbord {
    padding-top: 92px;
    }
    .slider-billbord__title {
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 4px;
}
.item-billbord {
	display: block;
}
.item-billbord__name {
	margin: 0;
	margin-top: 10px;
}
.item-billbord__icon {
    width: 50px;
    height: 50px;
    }
    .item-billbord__icon img {
        padding: 14px;
    }
    .header__right {
    	display: none;
    }
    .logo img {
    width: 100px;
}
.logo-descr {
    margin-left: 14px;
    font-size: 12px;
    line-height: 20px;
    max-width: 137px;
}
.icon-video {
    width: 56px;
    height: 56px;
}
.btn-video__text {
    font-size: 13px;
    margin-left: 16px;
    }
    .btn-video {
    max-width: 150px;
}
.btn-main {
	padding: 0 30px;
	height: 55px;
}
.slider-billbord {
	padding-left: 15px;
}
.slider-billbord__descr {
    font-size: 16px;
    line-height: 22px;
}
.slider-billbord img {
	max-width: 200px;
}
.title-section {
    font-size: 22px;
    line-height: 34px;
}
.item-advantage {
	min-height: auto;
	padding-bottom: 25px;
}
.calculation_left {
	padding-right: 15px;
}
.calculation .title-section strong {
    font-size: 26px;
}
body {
	font-size: 14px;
}
.calculation .form-block {
	margin-top: 35px;
}
.tabs li a {
	font-size: 12px;
	height: 60px;
	text-align: center;
	padding-left: 0;
}
.tabs__icon {
	display: none;
}
.tabs li:last-child {
	margin-right: 0;
}
.tab-container {
	padding: 15px;
}
.table-price table td:nth-child(2) strong {
    font-size: 14px;
    line-height: 19px;
    }
    .table-price table td:first-child {
    padding-left: 0;
}
.table-price table {
    font-size: 12px;
}
.table-price table td:nth-child(2) {
    font-size: 13px;
    line-height: 26px;
}
.bottom-tab {
	display: block;
}
.form-phone-wrap {
	width: 100%;
	margin-bottom: 20px;
}
.services {
	padding-bottom: 40px;
}
.partners .title-section {
    padding-top: 35px;
    padding-bottom: 20px;
}
.item-partner {
    height: 115px;
}
.partners-wrap .slick-prev {
    left: -14px;
}
.partners-wrap .slick-next {
    right: -14px;
}
.partners {
    padding-bottom: 30px;
}
.portfolio {
	padding-top: 35px;
}
.slider-portfolio__image {
    height: 295px;
}
.slider-portfolio__head {
    font-size: 14px;
    line-height: 26px;
}
.slider-portfolio {
	padding-bottom: 40px;
}
.slider-portfolio .slick-dots {
	bottom: 15px;
}
.team .title-section {
    padding-bottom: 21px;
}
.item-article__image {
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 15px;
}
.item-article_big {
	padding-left: 0;
	min-height: auto;
}
.item-article {
	padding: 20px;
}
.item-article__name br {
	display: none;
}
.instagram {
	padding-top: 35px;
	padding-bottom: 15px;
}
.footer__services {
	padding-left: 15px;
}
.footer__right {
	display: block;
}
.content-footer {
	padding-top: 15px;
	display: none;
}
.title-footer {
	padding: 15px 0;
	cursor: pointer;
	border-bottom: 1px #93bed0 solid;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title-footer i {
	display: inline-block;
	transition: all 0.3s;
}
.title-footer.active i {
	transform: rotate(45deg);
}
.footer__bottom {
	padding-top: 0;
	border: none;
}
.btn_nav {
	display: inline-block;
}
.right_head {
	text-align: right;
}
.partners-wrap {
    padding-bottom: 30px;
}
.modal-wrap {
    padding: 55px 60px;
}
.item-billbord__icon::before {
    margin-top: 61px;
}
.wrapper_page {
    padding-top: 95px;
}
.pagination ul {
    width: 100%;
}
.articles_page .item-article {
    padding-right: 20px;
}
.col_lr {
    padding: 0 15px;
}
.title-middle {
    font-size: 17px;
    }
    .article .title-middle {
    padding-top: 8px;
    padding-bottom: 15px;
}
.text-main p, .text-main li {
    margin-bottom: 15px;
}
.list-brief li {
    margin-bottom: 15px;
}
.title-middle_icon::before {
    top: 15px;
}
.wrapper_page .header {
    padding-bottom: 0;
}

/*new*/
.tabs-about {
    flex-wrap: wrap;
}
.tabs-about li {
    width: 50%;
    padding: 7px;
}
.text-page {
    line-height: 24px;
    }
    .text-page p {
    margin-bottom: 15px;
}
.about .title-section {
    padding-bottom: 15px;
}
.row_achievement > div {
    margin-bottom: 25px;
}
.about .btn-video {
    max-width: 165px;
}
.row_achievement {
    margin-bottom: 0;
}
.about__image img {
    max-width: 100%;
}
.row_team > div {
    margin-bottom: 25px;
}
.links-article li {
    padding-right: 0;
}
.item-review__head {
    display: block;
}
.item-review__head .link-review {
    margin-top: 15px;
    display: inline-block;
}
.item-review__name {
    font-size: 17px;
    padding-bottom: 5px;
    }
    .item-vacancy__head {
    font-size: 16px;
    font-weight: 700;
    padding: 24px 20px;
    padding-right: 15px;
}
.item-vacancy__content {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 30px;
    }
    .item-vacancy__content p {
    margin-bottom: 15px;
}
.item-vacancy__bottom .btn-main {
    margin-right: 0;
    margin-bottom: 20px;
}
.item-vacancy__bottom {
    display: block;
}
.item-portfolio__head {
    font-size: 15px;
    line-height: 24px;
    }
    .item-portfolio__head img {
    max-width: 115px;
    margin-right: 15px;
}
.slider-portfolio-image__item {
    height: 300px;
}
.slider-portfolio-image {
    padding-bottom: 20px;
}
.item-portfolio p {
    font-size: 13px;
    line-height: 21px;
    }
    .item-portfolio__right .btn-main {
        margin-top: 5px;
    }
    .wrapper_page {
    padding-top: 60px;
}
.item-question__head {
    font-size: 16px;
        padding: 25px 15px;
}
.item-question__content {
    padding: 20px;
    padding-top: 0;
}
.item-sertificat {
    max-width: 210px;
}
.item-sertificat__image {
    height: 300px;
}
}


@media only screen and (max-width : 575px) {
.footer__bottom .row > div {
	text-align: center;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.logo-descr {
    margin-left: 8px;
    font-size: 10px;
    line-height: 16px;
    max-width: 126px;
}
.item-billbord {
	font-size: 10px;
	line-height: 19px;
	margin-bottom: 20px;
}
.title-big {
    font-size: 18px;
    line-height: 28px;
}
.descr-big {
    font-size: 14px;
    line-height: 23px;
}
.billbord__text {
    font-size: 13px;
    line-height: 19px;
}
.billbord__buttons .btn-main {
	padding: 0 15px;
	font-size: 10px;
}
.slider-billbord__item {
	font-size: 13px;
    padding-right: 90px;
    }
    .slider-billbord__title {
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 4px;
}
.slider-billbord__descr {
    font-size: 12px;
    line-height: 18px;
}
.link-block {
    font-size: 12px;
}
.slider-billbord img {
    max-width: 127px;
}
.slider-billbord__item .link-block {
	right: 5px;
}
.icon-video {
	font-size: 17px;
}
.btn-video__text {
    font-size: 12px;
    margin-left: 6px;
}
.billbord__buttons .btn-video {
	margin-left: 7px;
}
.billbord {
    padding-top: 74px;
}
.title-section {
    font-size: 18px;
    line-height: 31px;
}
.advantages {
	padding-top: 35px;
}
.item-advantage {
	font-size: 13px;
}
body {
	font-size: 13px;
}
.calculation .title-section strong {
    font-size: 18px;
    padding: 0;
}
.form-block__title {
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 11px;
}
.checkbox-wrap .checkbox {
    white-space: normal;
}
.services .title-section {
	font-size: 16px;
	line-height: 28px;
	padding-bottom: 15px;
}
.form-phone .btn-main {
	font-size: 12px;
}
.tab-container ul {
    font-size: 13px;
    line-height: 18px;
    }
    .link-simple {
    font-size: 13px;
}
.tabs {
	margin: 0 -5px;
	flex-wrap: wrap;
}
.tabs li {
	width: 50%;
	margin: 0;
	padding: 5px;
}
.tabs li a {
	font-size: 11px;
	display: flex;
}
.tabs li a::after {
	bottom: 0;
	border-radius: 6px;
}
.table-price table td:nth-child(2) {
    font-size: 12px;
    line-height: 22px;
    width: 100px;
}
.form-phone {
	display: block;
}
.form-phone .item-form {
	width: 100%;
	margin: 0;
	margin-bottom: 13px;
}
.form-phone .btn-main {
	width: 100%;
}
.item-partner {
    height: 83px;
    padding: 10px;
}
.partners .title-section {
	padding-top: 30px;
}

.tabs-portfolio li {
	width: 50%;
}
.tabs-portfolio li a {
	font-size: 11px;
}
.slider-portfolio__head img {
    max-width: 82px;
    margin-right: 12px;
    }
    .slider-portfolio__head {
    font-size: 12px;
    line-height: 19px;
}
.slider-portfolio {
	padding-left: 15px;
	padding-right: 15px;
}

.item-team__name {
    font-size: 14px;
    line-height: 21px;
    }
    .articles .title-section {
    padding: 18px 0;
}
.item-article__name {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px;
}
.item-article__date {
    font-size: 12px;
    margin-bottom: 13px;
}
.item-article__image {
	height: 190px;
}
.row_insta > div {
	padding: 0 5px;
	margin-bottom: 5px;
}
.row_insta {
	margin: 0 -5px;
	margin-top: 20px;
}
.slider-billbord img {
	top: 64px;
}
.modal-wrap {
    padding: 45px 15px;
}
.title-modal {
    font-size: 20px;
    padding-bottom: 15px;
}
.modal-wrap .btn-main {
    margin-top: 7px;
    }
    .item-billbord__icon::before {
    margin-top: 46px;
}
.menu-dropdown__name {
    font-size: 14px;
    padding-bottom: 5px;
}
.list-dropdown {
    font-size: 12px;
    }
    .menu-dropdown {
        line-height: 22px;
    }
    .wrapper_page .logo-descr {
    font-size: 10px;
    margin-left: 8px;
    max-width: 110px;
}
.breacumbs {
    padding-bottom: 19px;
    }
    .wrapper_page {
    padding-top: 83px;
}
.article__image {
    margin-bottom: 15px;
}
.article .title-section {
    padding-bottom: 20px;
}
.title-brief {
    margin-bottom: 15px;
}
.text-main p, .text-main li {
    font-size: 13px;
}
.blockquote {
    padding: 15px;
    padding-bottom: 5px;
    }
    .article {
        padding-bottom: 20px;
    }

    /*new*/
    .tabs-about li a {
        font-size: 12px;
    }
    .text-page {
    line-height: 21px;
}
.item-achievement__title {
    padding-bottom: 8px;
}
.about__image {
    margin-bottom: 15px;
}
.row_team .item-team__image {
    height: 260px;
}
.links-article  {
    columns: 1;
}
.title-min {
    font-size: 16px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 12px;
    }
    .text-article p {
    margin-bottom: 15px;
}
.item-review {
    padding: 25px 15px;
}
.item-review p {
    margin-bottom: 15px;
}
.item-vacancy__title {
    padding-top: 0;
    padding-bottom: 10px;
}
.item-vacancy__content p {
    margin-bottom: 12px;
}
.item-vacancy__head {
    font-size: 14px;
}
.item-portfolio__head {
    display: block;
}
.item-portfolio__head img {
    margin-bottom: 10px;
}
.item-portfolio {
    padding-left: 15px;
    padding-right: 15px;
}
.slider-portfolio-image__item {
    height: 240px;
}
.wrapper_page {
    padding-top: 56px;
}
.questions {
    padding-top: 18px;
    padding-bottom: 35px;
}
.item-question__head {
    font-size: 14px;
    padding: 20px 15px;
}
.ask-form {
    padding-left: 20px;
    padding-right: 20px;
}
.ask-form__title {
    font-size: 20px;
    padding-bottom: 15px;
    }
    .sertificats {
    padding-top: 18px;
    padding-bottom: 15px;
}
.sertificats .title-section {
    padding-bottom: 15px;
}
.row_sertificats > div {
    padding: 0 5px;
    margin-bottom: 20px;
} 
.row_sertificats {
    margin: 0 -5px;
}
.item-sertificat {
    max-width: 140px;
}
.item-sertificat__image {
    height: 215px;
    padding: 5px;
    font-size: 12px;
    line-height: 20px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.header__top {
	display: block !important;
	height: auto !important;
}
.content-footer {
	display: block !important;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 1300px) {
.container_big {
	max-width: 1300px;
}
}
 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1460px) {
.container_big {
	max-width: 1430px;
}
}
@media (min-width: 1600px) {
	.container {
    max-width: 1170px;
}
.container_big {
	max-width: 1430px;
}
}